<div class="contact-section center">
	<h1>Drop Me a Message!</h1>

	<form name="emailForm">
		<div class="form-group">
			<input type="text" class="form-control" id="contact-name" ng-model="contactName" placeholder="Name" autocomplete="off" required/>
			<span class="fa fa-lg fa-user"></span>
		</div>

		<div class="form-group">
			<input type="email" class="form-control" id="contact-email" ng-model="contactEmail" placeholder="Email" autocomplete="off" required/>
			<span class="fa fa-lg fa-envelope-o"></span>
		</div>

		<div class="form-group">
			<textarea class="form-control" rows="5" id="contact-msg" ng-model="contactMsg" required></textarea>
			<span class="fa fa-lg  fa-commenting-o"></span>
			<button type="submit" class="btn btn-primary btn-send" ng-disabled="emailForm.$invalid"><span class="fa fa-2x fa-mail-forward"</span></button>
		</div>
	</form>
</div>