<div class="home-section center">
		<svg id="logo" viewBox="0 0 94 117.479" xml:space="preserve">
			<polygon fill="none" stroke="#1D2D44" stroke-width="5" stroke-miterlimit="10" points="37.5,83.143 2.5,63.077 2.5,22.947 
				37.5,2.882 72.5,22.947 72.5,63.077 "/>
			<polygon fill="#FFFFFF" stroke="#005B7F" stroke-width="5" stroke-miterlimit="10" points="55.5,114.598 19.5,93.984 19.5,52.758 
				55.5,32.145 91.5,52.758 91.5,93.984 "/>
		</svg>
		<div id="txt-container">
			<h1>Andy Tran</h1>
			<h2>Web Developer</h2>
			<nav id="home-nav">
				<ul>
					<li ng-repeat="page in homeNav()"><a class="lnk-line" ng-href="#/{{page.name}}">{{page.name}}</a></li>
				</ul>
			</nav>
		</div>
</div>
