<div info-container redirect-Url="#/Home" class="works-section center">
	<div class="row">
		<div ng-repeat="work in works" class="works-wrapper">
			<a info-hex hex-wrap="true" ng-style="{'background-image': 'url(' + work.bgUrl + ')'}"></a>
			<h2>{{work.title}}</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus metus sem, sodales et feugiat id, tincidunt a felis. Nulla volutpat velit malesuada elit facilisis ultrices. Nullam tempor dictum felis a consequat. Nulla ex velit, interdum ac efficitur ac, vulputate quis ante</p>
		</div>
	</div>
</div>